@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 999px;
  border: 1px solid #1f2937;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #0f0f0f;
}



@keyframes attention {
  /* Stay still for first 3 seconds (0% - 37.5%) */
  0%,
  37.5% {
    transform: translateX(0);
  }

  /* Move for 2 seconds (37.5% - 62.5%) */
  42% {
    transform: translateX(-4px);
  }

  46% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-3px);
  }

  54% {
    transform: translateX(3px);
  }

  58% {
    transform: translateX(-2px);
  }

  62.5% {
    transform: translateX(0);
  }

  /* Stay still for last 3 seconds (62.5% - 100%) */
  100% {
    transform: translateX(0);
  }
}


@keyframes cardFade {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}